@import url(http://fonts.googleapis.com/css?family=Exo);

body { 
    margin:0px;
    display: block;
}
.section-one {
    display: flex;
    width: 100%;
    height: 1052px;
    background-image: url('img/cliff.png');
    background-position: center;
    background-size: cover; 
}

.header-text {
    font-family: 'Exo', sans-serif;
    font-size: 5em;
}